<html>
    <footer>
        <p> Made by Ana Carolina Lage. Help and know more in <a href="https://www.sheltermovers.com/"
                target="_blank">Shelter Movers.</a>
            Volunteer in the Waterloo Chapter - Conestoga CCP in this <a
                href="https://conestoga.campuslabs.ca/engage/event/179424" target="_blank">event.</a></p>
    </footer>
</html>